.container{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    padding: 60px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}
.first-items{
    margin-left: 5rem;
    color: white;
    font-size: 33px;
    
}
body{
    background-color: #0056D2;
}
.paragraph{
    font-size: 17px;
    padding: 20px 0px;
}
button{
    border-radius: 5px;
    color: #0056D2;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: bold;
    margin: 10px 0px;
    size: 10px;
}
button :hover{
    color: rgb(109, 81, 134);
}
footer{
    text-align: center;
    color: white;
}